body {
	background-color: #FAF9F9;
	color:  #231F20;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 300;
}

h1 {
	color: #4C2C69;
	font-size:  40px;
	font-family: "Robot", serif;
}

h2 {
	color:  #736CED;
	font-size:  28px;
	font-weight:  bolder;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: #F05D23;
	font-family: Helvetica;
}

a:hover {
	color: purple;
}

.container {
	width:  700px;
	margin: 40px auto;
}

@media (max-width: 720px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.img-bordered {
	border:  8px solid #736CED
}

.img-shadowed {
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.btn-red {
	background-color: #F05D23;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-red:hover {
	background-color: #4C2C69;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgba(210,210,210);
}

.list-inline i:hover{
	color: #4C2C69;
}

.list {
	list-style: none;
	padding-left: 0px;
	text-align: left;
	margin: 0px 0px 0px 70px;
}

.titre {
	text-align: left;
	margin: 0px 0px 10px 70px;
	font-size: 18px;
	font-weight: bolder;
}

#introduction p {
	margin-bottom: 40px;
}
